In [8]:
import pandas as pd

In [9]:
family_data = '../data/2017/familyxx.csv'

In [10]:
family_data_df = pd.read_csv(family_data)

In [11]:
family_data_df.head()

,FINT_Y_P,FINT_M_P,FMX,RECTYPE,SRVY_YR,HHX,FM_SIZE,FM_STRCP,FM_TYPE,FM_STRP,...,COVCONF,FHICOST,FMEDBILL,FMEDBPAY,FMEDBNOP,FSAF,FHICOVCT,FHICOVYN,FPRCOOH,FHIEBCCT
0,2017,2,1,60,2017,3,1,11,1,11,...,NaN,1,2,2,NaN,2,1,1,2.0,0.0
1,2017,4,1,60,2017,8,2,31,3,31,...,NaN,0,2,2,NaN,2,2,1,NaN,NaN
2,2017,3,1,60,2017,9,1,11,1,11,...,4.0,1,2,2,NaN,2,1,1,NaN,1.0
3,2017,3,1,60,2017,11,4,44,4,44,...,4.0,9,2,2,NaN,1,4,1,2.0,4.0
4,2017,1,1,60,2017,15,1,11,1,11,...,2.0,2,2,2,NaN,2,1,1,2.0,1.0

In [5]:
household_data = '../data/2017/househld.csv'

In [7]:
household_data_df = pd.read_csv(household_data)
household_data_df.head()

,INTV_QRT,INTV_MON,LIVQRT,ACPTCHLD,REJ_PER,REJ_FAM,ACPT_PER,ACPT_FAM,NON_INTV,RECTYPE,SRVY_YR,HHX,REGION,WTIA_HH,WTFA_HH,PSTRAT,PPSU
0,1,3,1,NaN,NaN,NaN,NaN,NaN,5.0,10,2017,2,2,2314.4,0,134,7
1,1,2,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2017,3,3,2410.0,4177,126,3
2,1,1,1,NaN,NaN,NaN,NaN,NaN,2.0,10,2017,4,2,853.5,0,147,60
3,1,2,11,NaN,NaN,NaN,NaN,NaN,5.0,10,2017,6,3,2028.1,0,104,27
4,1,3,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2017,7,4,1160.6,0,114,43

In [16]:
child_data = '../data/2017/samchild.csv'

In [17]:
child_data_df = pd.read_csv(child_data)
child_data_df.head()

,FPX,INTV_QRT,SEX,FMX,HISPAN_I,MRACRPI2,RACERPI2,MRACBPI2,AGE_P,RECTYPE,...,CMBOU_PR,CYTQU_YG,CYTQ_BTY,CYTQ_MDY,CYTQU_TA,CYTQ_BTT,CYTQ_MDT,CYTQU_QG,CYTQ_BTQ,CYTQ_MDQ
0,2,1,1,1,12,2,2,2,10,40,...,8.0,8.0,NaN,NaN,8.0,NaN,NaN,8.0,NaN,NaN
1,4,1,1,1,12,1,1,1,13,40,...,2.0,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN
2,4,1,2,1,0,1,1,1,13,40,...,2.0,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN
3,3,1,1,1,12,9,4,12,5,40,...,2.0,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN
4,3,1,2,1,12,1,1,1,11,40,...,2.0,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN

In [14]:
adult_data = '../data/2017/samadult.csv'

In [15]:
adult_data_df = pd.read_csv(adult_data)
adult_data_df.head()

,FPX,FMX,HHX,INTV_QRT,WTIA_SA,WTFA_SA,SEX,HISPAN_I,R_MARITL,MRACRPI2,...,MBO_PRO1,YTQU_YG1,YTQ_BTY1,YTQ_MDY1,YTQU_TA1,YTQ_BTT1,YTQ_MDT1,YTQU_QG1,YTQ_BTQ1,YTQ_MDQ1
0,1,1,3,1,5829.3,5044,2,12,4,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
1,1,1,9,1,2752.4,3770,1,12,7,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
2,2,1,11,1,14902.0,17305,1,12,1,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
3,1,1,15,1,8531.8,7383,2,12,5,1,...,2,1,1.0,1.0,1,1.0,2.0,2,NaN,NaN
4,1,1,18,1,5477.2,8314,1,0,1,1,...,2,1,1.0,1.0,2,NaN,NaN,2,NaN,NaN