In [39]:
%matplotlib notebook
import pandas as pd
from scipy import stats

In [5]:
family_data = '../data/2017/familyxx.csv'

In [6]:
family_data_df = pd.read_csv(family_data)

In [7]:
family_data_df.head()

,FINT_Y_P,FINT_M_P,FMX,RECTYPE,SRVY_YR,HHX,FM_SIZE,FM_STRCP,FM_TYPE,FM_STRP,...,COVCONF,FHICOST,FMEDBILL,FMEDBPAY,FMEDBNOP,FSAF,FHICOVCT,FHICOVYN,FPRCOOH,FHIEBCCT
0,2017,2,1,60,2017,3,1,11,1,11,...,NaN,1,2,2,NaN,2,1,1,2.0,0.0
1,2017,4,1,60,2017,8,2,31,3,31,...,NaN,0,2,2,NaN,2,2,1,NaN,NaN
2,2017,3,1,60,2017,9,1,11,1,11,...,4.0,1,2,2,NaN,2,1,1,NaN,1.0
3,2017,3,1,60,2017,11,4,44,4,44,...,4.0,9,2,2,NaN,1,4,1,2.0,4.0
4,2017,1,1,60,2017,15,1,11,1,11,...,2.0,2,2,2,NaN,2,1,1,2.0,1.0

In [8]:
household_data = '../data/2017/househld.csv'

In [9]:
household_data_df = pd.read_csv(household_data)
household_data_df.head()

,INTV_QRT,INTV_MON,LIVQRT,ACPTCHLD,REJ_PER,REJ_FAM,ACPT_PER,ACPT_FAM,NON_INTV,RECTYPE,SRVY_YR,HHX,REGION,WTIA_HH,WTFA_HH,PSTRAT,PPSU
0,1,3,1,NaN,NaN,NaN,NaN,NaN,5.0,10,2017,2,2,2314.4,0,134,7
1,1,2,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2017,3,3,2410.0,4177,126,3
2,1,1,1,NaN,NaN,NaN,NaN,NaN,2.0,10,2017,4,2,853.5,0,147,60
3,1,2,11,NaN,NaN,NaN,NaN,NaN,5.0,10,2017,6,3,2028.1,0,104,27
4,1,3,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2017,7,4,1160.6,0,114,43

In [10]:
child_data = '../data/2017/samchild.csv'

In [11]:
child_data_df = pd.read_csv(child_data)
child_data_df.head()

,FPX,INTV_QRT,SEX,FMX,HISPAN_I,MRACRPI2,RACERPI2,MRACBPI2,AGE_P,RECTYPE,...,CMBOU_PR,CYTQU_YG,CYTQ_BTY,CYTQ_MDY,CYTQU_TA,CYTQ_BTT,CYTQ_MDT,CYTQU_QG,CYTQ_BTQ,CYTQ_MDQ
0,2,1,1,1,12,2,2,2,10,40,...,8.0,8.0,NaN,NaN,8.0,NaN,NaN,8.0,NaN,NaN
1,4,1,1,1,12,1,1,1,13,40,...,2.0,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN
2,4,1,2,1,0,1,1,1,13,40,...,2.0,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN
3,3,1,1,1,12,9,4,12,5,40,...,2.0,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN
4,3,1,2,1,12,1,1,1,11,40,...,2.0,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN

In [22]:
# Look at values of SMKSTAT2 
child_data_df['CASSTILL'].value_counts()

1.0    739
2.0    420
9.0      9
Name: CASSTILL, dtype: int64

In [24]:
child_outdata = child_data_df.loc[:,['RECTYPE','SRVY_YR','HHX','FMX','FPX','REGION','WTFA_SC','CASHMEV','CASSTILL']]

child_outdata['HH with Asthmatic Child']=0

for index, row in child_outdata.iterrows():
    
    if child_outdata.loc[index,'CASHMEV'] == 1:
        child_outdata.loc[index,'HH with Asthmatic Child'] = 1

    
child_outdata['HH with Asthmatic Child'].value_counts()

0    7677
1    1168
Name: HH with Asthmatic Child, dtype: int64

In [12]:
adult_data = '../data/2017/samadult.csv'

In [13]:
adult_data_df = pd.read_csv(adult_data)
adult_data_df.head()

,FPX,FMX,HHX,INTV_QRT,WTIA_SA,WTFA_SA,SEX,HISPAN_I,R_MARITL,MRACRPI2,...,MBO_PRO1,YTQU_YG1,YTQ_BTY1,YTQ_MDY1,YTQU_TA1,YTQ_BTT1,YTQ_MDT1,YTQU_QG1,YTQ_BTQ1,YTQ_MDQ1
0,1,1,3,1,5829.3,5044,2,12,4,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
1,1,1,9,1,2752.4,3770,1,12,7,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
2,2,1,11,1,14902.0,17305,1,12,1,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
3,1,1,15,1,8531.8,7383,2,12,5,1,...,2,1,1.0,1.0,1,1.0,2.0,2,NaN,NaN
4,1,1,18,1,5477.2,8314,1,0,1,1,...,2,1,1.0,1.0,2,NaN,NaN,2,NaN,NaN

In [19]:
# Look at values of SMKSTAT2 
adult_data_df['SMKSTAT2'].value_counts()

4    16015
3     6600
1     3080
2      935
9       99
5       13
Name: SMKSTAT2, dtype: int64

In [42]:
adult_outdata = adult_data_df.loc[:,['RECTYPE','SRVY_YR','HHX','FMX','FPX','REGION','WTFA_SA','COPDEV','AASMEV',
                                     'AASSTILL','SMKSTAT2']]

adult_outdata['HH with Smoker']=0

for index, row in adult_outdata.iterrows():
    
    if adult_outdata.loc[index,'SMKSTAT2'] in (1,2,5):
        adult_outdata.loc[index,'HH with Smoker'] = 1
    
adult_outdata['HH with Smoker'].value_counts()

0    22714
1     4028
Name: HH with Smoker, dtype: int64

In [43]:
adult_outdata.head()

,RECTYPE,SRVY_YR,HHX,FMX,FPX,REGION,WTFA_SA,COPDEV,AASMEV,AASSTILL,SMKSTAT2,HH with Smoker
0,30,2017,3,1,1,3,5044,2,2,NaN,1,1
1,30,2017,9,1,1,2,3770,2,2,NaN,4,0
2,30,2017,11,1,2,2,17305,2,1,1.0,2,1
3,30,2017,15,1,1,2,7383,2,2,NaN,3,0
4,30,2017,18,1,1,3,8314,2,1,2.0,2,1

In [29]:
child_outdata.head()

,RECTYPE,SRVY_YR,HHX,FMX,FPX,REGION,WTFA_SC,CASHMEV,CASSTILL,HH with Asthmatic Child
0,40,2017,8,1,2,3,4808,1,2.0,1
1,40,2017,11,1,4,2,4027,2,NaN,0
2,40,2017,18,1,4,3,8633,2,NaN,0
3,40,2017,19,1,3,4,3351,2,NaN,0
4,40,2017,22,1,3,3,18769,2,NaN,0

In [33]:
merge_adult_child = pd.merge(adult_outdata, child_outdata, on=["HHX","FMX"])
merge_adult_child = merge_adult_child.loc[:,['HHX','FMX','HH with Smoker','HH with Asthmatic Child','WTFA_SA','WTFA_SC']]
merge_adult_child.head()

   HHX  FMX  HH with Smoker  HH with Asthmatic Child  WTFA_SA  WTFA_SC
0   11    1               1                        0    17305     4027
1   18    1               1                        0     8314     8633
2   19    1               0                        0    10888     3351
3   26    1               0                        1     5164     5435
4   47    1               0                        0    28072     7735

In [36]:
# Use the value counts to determine the number of students
tempcounts = merge_adult_child['HH with Smoker'].value_counts()

# Convert the value counts into a dataframe
hh_counts = pd.DataFrame({'Smoker Flag':tempcounts.index, 'Count':tempcounts.values})

check_smk_asthma = merge_adult_child.groupby(['HH with Smoker'])
hh_counts["Percent with Asthmatic Child"] = 100 * check_smk_asthma["HH with Asthmatic Child"].mean()
hh_counts["Number with Asthmatic Child"] = check_smk_asthma["HH with Asthmatic Child"].sum()
hh_counts

,Smoker Flag,Count,Percent with Asthmatic Child,Number with Asthmatic Child
0,0,5875,12.544681,737
1,1,1106,16.003617,177

In [47]:
# Create lists of child-asthma flags associated with smoking and nonsmoking households
child_flags_for_smokers=[]
child_flags_for_nonsmokers=[]

for index, row in merge_adult_child.iterrows():
    
    if merge_adult_child.loc[index,'HH with Smoker'] == 1:
        child_flags_for_smokers.append(merge_adult_child.loc[index,'HH with Asthmatic Child'])
    else:
        child_flags_for_nonsmokers.append(merge_adult_child.loc[index,'HH with Asthmatic Child'])


# Run the t-test
(t_stat, p) = stats.ttest_ind(child_flags_for_smokers,child_flags_for_nonsmokers,equal_var=False)
print(f"p is {p}.")
if p < 0.05:
    print("The difference in sample means is significant.")
else:
    print("The difference in sample means is not significant.")

p is 0.003554884862583105.
The difference in sample means is significant.